<?xml version="1.0" ?>
<robot name="obj.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/hcis/YongZhe/PDM/PDM_urdf/Arrow_cube_bottle_enlarge2.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/hcis/YongZhe/PDM/PDM_urdf/Arrow_cube_bottle_enlarge2.obj" />
      </geometry>
    </collision>
  </link>
</robot>